.contenedor{
    width: 1000px;
    background-color: white;
    margin: auto;
}

.bg-info{
    color: white;
}

table{
    margin-top: 50px;
}

body {
  background-image: url(./assets/images/fondo.jpg);
}
